__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
.vscode
.idea

README.md
LICENSE
.gitignore
docker-compose.yml
Dockerfile
Makefile