{% extends "base.html" %}
{% from 'macros.html' import render_recipe %}
{% block content %}
<h1 class="light">
  {{base_layer.name}} <strong>with </strong>
  {{mixin.name}}, <strong>garnished with </strong>
  {{condiment.name}} <strong>topped off with </strong>
  {{seasoning.name}} <strong>and wrapped in delicious</strong>
  {{shell.name}}
</h1>
{% if render_link %}
    <h5 class="light"><a href="/{{base_layer.slug}}/{{mixin.slug}}/{{condiment.slug}}/{{seasoning.slug}}/{{shell.slug}}/">Permalink to this taco</a></h5>
{% else %}
    <h5 class="light"><a href="/">Get another Taco</a></h5>
{% endif %}
<hr />
{{ render_recipe(base_layer) }}
{{ render_recipe(mixin) }}
{{ render_recipe(condiment) }}
{{ render_recipe(seasoning) }}
{{ render_recipe(shell) }}
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/markdown.min.js') }}"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $.each($('.recipe'), function(i, recipe){
                $(recipe).html(markdown.toHTML($(recipe).text()));
            })
        });
    </script>
{% endblock %}
