<div class="row">
    <div class="twelve columns recipe">
        <%= markdown.toHTML(base_layer.recipe) %>
    </div>
</div>
<div class="row">
    <div class="twelve columns recipe">
        <%= markdown.toHTML(mixin.recipe) %>
    </div>
</div>
<div class="row">
    <div class="twelve columns recipe">
        <%= markdown.toHTML(condiment.recipe) %>
    </div>
</div>
<div class="row">
    <div class="twelve columns recipe">
        <%= markdown.toHTML(seasoning.recipe) %>
    </div>
</div>
